.rates .icon {
    margin: 0;
    width:30px; height:30px;
}

.rates > span {
    margin-right: 10px!important;
}

.rates > span:last-child {
    margin-right:0!important;
}

@media screen and(max-width:375px) {
    .rates .icon {
        width:15px; height:15px;
    }    
}