.carrousel {
    position:relative;
    height:415px;
    overflow:hidden;
    border-radius:25px;
}

.carrousel__slider {
    margin: 0; padding: 0;
    position:relative;
    width:500%;
    height:100%;
    text-align: left;
    transition:transform .3s ease-in-out;
}

.carrousel__slider img {
    width:20%;
    height:100%;
    float:left;
    object-fit: cover;
}

.carrousel__actions {
    width: 100%;
    position: absolute;
    display:flex;
    justify-content: space-between;
    top: 50%;
    transform: translateY(-50%);
}

.carrousel__btn {
    margin:0 23px;
    background:transparent;
    border: none;
    transition: transform .3s;
    cursor:pointer;
}

.carrousel__btn:hover {
    transform:scale(1.15);
}

.carrousel__actions span.icon {
    color:#fff;
}

.carrousel__content img {
    width:20%;
    height:100%;
}

.carrousel__counter {
    margin:0 23px 23px 0;
    position: absolute;
    width: 100%;
    bottom: 0; left: 0;
    color:#fff;
    text-align: center;
}

@media screen and(max-width:375px) {
    .carrousel {
        height:255px;
    }

    .carrousel__counter {
        display:none;
    }
}