.carroussel {
    position: relative;
    width: 100%;
    height:415px;
    color:#fff;
}

.carroussel img {
    width: 100%;
    height:100%;
    object-fit: cover;
}

.carroussel__btn-left, .carroussel__btn-right {
    position:absolute;
    top: 50%;
    background: none;
    border: none;
    cursor: pointer;
    transform:translateY(-50%);
}

.carroussel__btn-left .icon-arrow-left, .carroussel__btn-right .icon-arrow-right {
    width: 45px; height: 80px;
    color:#fff;
    transition: transform .3s;
}

.carroussel__btn-left:hover .icon-arrow-left, .carroussel__btn-right:hover .icon-arrow-right {
    transform: scale(1.1);
}

.carroussel__btn-left { left:23px; }
.carroussel__btn-right { right:23px; }

.carroussel__counter {
    position:absolute;
    bottom:23px;
    left: 50%;
}

.icon-arrow-left, .icon-arrow-right {
    color:#fff;
}

@media screen and(max-width:375px) {
    .carroussel {
        height:255px;
    }

    .carroussel__counter {
        display:none;
    }

    .carroussel__btn-left .icon-arrow-left, .carroussel__btn-right .icon-arrow-right {
        width: 11px; height: 20px;
    }
}

/**
 * Animation
 **/

.slide-enter {
    opacity: 0;
}
.slide-enter-active {
    opacity: 1;
    transition: opacity 200ms;
}
.slide-exit {
    opacity: 1;
}
.slide-exit-active {
    opacity: 0;
    transition: opacity 200ms;
}