.home .section {
    margin-top: space(9, 8);
}

.home__gallery {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:60px;
    margin-top: space(5, 8);
    padding:56px 50px;
    background:#F7F7F7;
    border-radius:25px;
}

.home__thumb {
    text-decoration: none;
}

.home__loading_data {
    display:block;
    width: 100%;
    color: $primary-color;
    text-align:center;
    font-size:1.5em;
    grid-column: 1/4;
}

@include down(1260) {
    .home__gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@include down(850) {
    .home__gallery {
        grid-template-columns: repeat(1, 1fr);
    }
}

@include down(600) {
    .home__gallery {
        padding: 0;
        background: transparent;
    }
}