.property__vendor .vendor {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.property__carrousel {
    margin-top: space(3, 8);
}

.property__header {
    margin-top: space(3.75, 8);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.property__vendor {
    justify-self: end;
    align-self: stretch;
}

.property__vendor .vendor__informations {
    justify-content: flex-end;
}

.property__title h1 {
    margin: 0;
}

.property__title p {
    margin: 0;
    margin-top: space(1, 8);
    font-weight: 500;
}

.property__tags {
    margin-top: space(2, 8);
    display: flex;
    flex-wrap: wrap;
}

.property__tags>* {
    margin-right: 10px;
}

.property__tags>*:last-child {
    margin-right: 0;
}

.property__informations {
    margin-top: space(3, 8);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 76px;

    @include down(900) {
        grid-gap: 24px;
    }
}

@media screen and (max-width:600px) {
    .property__header {
        grid-template-columns: repeat(1, 1fr);
    }

    .property__vendor {
        width: 100%;
        margin-top: space(3.75, 8);
        justify-self: start;
    }

    .property__vendor .vendor {
        flex-direction: row;
    }

    .property__vendor .vendor__informations {
        justify-content: flex-start;
        order: 1;
    }

    .property__informations {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: space(2, 8);
    }
}