.logo {
    text-align: center;
    width:210px; height:68px;
}

@media screen and (max-width: 495px) {
    .logo {
        width:160px; height:58px;
    }    
}

@media screen and (max-width: 375px) {
    .logo {
        width:145px; height:47px;
    }
}